/* NAVBAR TABLET */
@media (min-width: 1366px) {
    .nav-bar-tablet{
        display: none;
    }
    .nav-bar-destokp{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    header{
        height: 170px;
    }
    .title{
        margin-top: 30px;
        font-size: 20px;
    }
    .tittle2{
        font-size: 18px;
      
    }
    .nav-bar-destokp{
        width: 94%;
        height: 40px;
        padding-left: 3%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .nav-bar-destokp a{
        width: 24%;
        height: 75%;
        font-size: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color:white;
        border-style: double;
        border-radius: 10px;
        color:rgb(91,168,74);
    }

    .nav-bar-destokp a:hover{
        cursor: pointer;
        background-color: rgb(91,168,74);    
        color:white;  
      
    }

    .container{
        width: 70% !important;
    }

    .news{
        width: 24%;
        height: 550px;
    }   

    .news article{
        font-size: 25px;
    
    }
   .slide-img span{
    font-size: 25px;
    text-align: center;
    }
   
    span a{
        color: white;
        font-size: 20px;
        font-weight: bold;
    }
    p a{
        color: green;
        font-size: 20px;
    }

    p{
        font-size: 20px
    }
     
    footer{
        font-size: 20px;
        justify-content: center;
               
    }
}
